/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,400italic|Montserrat:400,700);

@import "chart-simple";

/* ============ Colors and Images*/
$background_light: #fffffa;
$background_medium: #FFEA00;
$background_dark: #4CAF50;

$accent_color_1: #4CAF50;
$accent_color_2: #FFEA00;

$divider_color: rgba(0, 0, 0, 0.12);
$divider_color_light: rgba(255, 255, 255, 0.8);

$text_dark: rgba(0, 0, 0, 0.87);
$text_medium: rgba(0, 0, 0, 0.54);
$text_light: rgba(0, 0, 0, 0.26);
$text_lighter: rgba(0, 0, 0, 0.12);
$text_gray: #a8a9ab;
$text_protect_light: rgba(255, 255, 255, 0.7);

$shader_dark: rgba(24, 47, 25, 0.9);
$shader: rgba(24, 47, 25, 0.8);
$shader_light: rgba(24, 47, 25, 0.4);
$shader_hover: rgba(24, 47, 25, 0.1);
$shader_black: rgba(0, 0, 0, 0.5);
$shader_white: rgba(255, 255, 255, 0.8);
$shader_white_light: rgba(255, 255, 255, 0.2);

$green: #4CAF50;
$green_dark: #1B5E20;
$green_translucent: rgba(76, 175, 80, 0.8);
$yellow: #FFD600;
$yellow_dark: #FBC02D;
$yellow_translucent: rgba(255, 234, 0, 0.8);
$orange: #FF3D00;
$orange_dark: #DD2C00;
$orange_translucent: rgba(255, 61, 0, 0.8);


//$font_stack: "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$font_stack: "Lato", sans-serif;
$font_stack_alt: "Montserrat", sans-serif;


@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}

@mixin box-shadow($x_offset, $y_offset, $blur, $color){
    box-shadow: $x_offset $y_offset $blur $color;
    -webkit-box-shadow: $x_offset $y_offset $blur $color;
    -moz-box-shadow: $x_offset $y_offset $blur $color;
}

/* ============ Layout */


/* ============ Animations */


@-moz-keyframes spinnerRotate {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spinnerRotate {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spinnerRotate {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}





/* ============ Material Design Aspects */


.z_depth_1{
    @include box-shadow(0, 1px, 1px, rgba(0, 0, 0, 0.24));
    z-index: 1;
}

.z_depth_2{
    @include box-shadow(0, 3px, 3px, rgba(0, 0, 0, 0.24));
    z-index: 2;
}

.z_depth_3{
    @include box-shadow(0, 10px, 10px, rgba(0, 0, 0, 0.24));
    z-index: 3;
}

.z_depth_4{
    @include box-shadow(0, 14px, 14px, rgba(0, 0, 0, 0.24));
    z-index: 4;
}

.z_depth_5{
    @include box-shadow(0, 19px, 19px, rgba(0, 0, 0, 0.24));
    z-index: 5;
}



/* ============ Bootstrap Elements */
.btn-square{
    border-radius: 0;
}

.btn-wide{
    padding-left: 24px;
    padding-right: 24px;
}

.btn-border-bottom{
    border-width: 0 0 3px 0;
}

.btn-primary{
    background-color: $green;
    border-color: $green_dark;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary{
    background-color: $green_dark;
    border-color: $green_dark;
}

.well:not(.selected) .progress{
		background-color: #ffffff;
}

.progress-bar-success{
		background-color: $green;
}

.progress-bar-warning{
		background-color: $yellow_dark;
}

.progress-bar-danger{
		background-color: $orange;
}




/* ============ Chart Elements */

.skew_chart{
		margin: 10px;
}


/* ============ General Elements */

//@include border-radius(10px);

body{
    color: $text_dark;
    background-color: $background_light;
    font-family: $font_stack;
    font-weight: 300;
    font-size: 16px;
}

body:after{
    display:none;
    content: url(image_path('web/spinner.png'));
}

h1, h2, h3, h4, h5, h6{
    font-family: $font_stack;

    .small, small{
        color: $text_gray;
    }
}

.alt_font, h1.alt_font, h2.alt_font, h3.alt_font, h4.alt_font, h5.alt_font, h6.alt_font, h1 .alt_font, h2 .alt_font, h3 .alt_font, h4 .alt_font, h5 .alt_font, h6 .alt_font{
    font-family: $font_stack_alt;
}

.text-muted{
    color: $text_gray;
}


.thin, h1.thin, h2.thin, h3.thin, h4.thin, h5.thin{
    font-family: $font_stack;
    font-weight: lighter;
}

.normal_weight, h1.normal_weight, h2.normal_weight, h3.normal_weight, h4.normal_weight, h5.normal_weight{
    font-weight: normal;
}

.smaller{
    font-size: 0.8em;
    line-height: 1.375em;
}

a{
    text-decoration: none;
    color: $green;
}

a:hover{
    text-decoration: none;
    color: $green_dark;
}

a.row, a.block, img.block{
    display: block;
}

img{
    max-width: 100%;
}

input:-webkit-autofill {
    -webkit-box-shadow:0 0 0 50px white inset; /* Change the color to your own background color */
    -webkit-text-fill-color: $text_dark;
}

input[type=range] {
  -webkit-appearance: none;
  margin: 18px 0;
  width: 100%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  animate: 0.2s;
  background: $shader_light;
  border-radius: 2px;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 2px $shader;
  height: 30px;
  width: 30px;
  border-radius: 15px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -11px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: $shader_light;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  animate: 0.2s;
  background: $shader_light;
  border-radius: 2px;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 2px $shader;
  height: 30px;
  width: 30px;
  border-radius: 15px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: $shader_light;
  border-radius: 2px;
}
input[type=range]::-ms-fill-upper {
  background: $shader_light;
  border-radius: 2px;
}
input[type=range]::-ms-thumb {
  box-shadow: 0px 0px 2px $shader;
  height: 30px;
  width: 30px;
  border-radius: 15px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: $shader_light;
}
input[type=range]:focus::-ms-fill-upper {
  background: $shader_light;
}
.slider_value_wrapper{
	line-height: 44px;
	font-size: 18px;
	font-weight: bold;
}




.inline_block{
    display: inline-block;
}

.float_none{
    float: none;
}

.valign_middle{
    vertical-align: middle;
}

.valign_bottom{
    vertical-align: bottom;
}

.pointer{
    cursor: pointer;
}

.green, a.green:hover{
    color: $green;
}

.green_bg{
    background-color: $green;
    color: #fff;
}

.green_bg.translucent{
    background-color: $green_translucent;
}

.yellow, a.yellow:hover{
    color: $yellow;
}

.yellow_bg{
    background-color: $yellow;
    color: #fff;
}

.yellow_bg.translucent{
    background-color: $yellow_translucent;
}

.orange, a.orange:hover{
    color: $orange;
}

.orange_bg{
    background-color: $orange;
    color: #fff;
}

.orange_bg.translucent{
    background-color: $orange_translucent;
}


.white, a.white:hover{
    color: #fff;
}

.text_dark, a.text_dark:hover{
    color: $text_dark;
}

.white_bg{
    background-color: #fff;
}

.shader_bg{
    background-color: $shader;
}

.medium_bg{
    background-color: $background_medium;
}

a.shader_bg:hover{

}

.shader_light_bg{
    background-color: $shader_light;
    color: #fff;
}

a.shader_light_bg:hover{
    background-color: $shader_white_light;
}

.shader_black_bg{
    background-color: $shader_black;
    color: #fff;
}

.no_margin{
    margin: 0 !important;
}

.no_margin_top{
    margin-top: 0 !important;
}

.no_margin_right{
    margin-right: 0 !important;
}

.no_margin_bottom{
    margin-bottom: 0 !important;
}

.no_margin_left{
    margin-left: 0 !important;
}

.margin_all{
    margin: 1em;
}

.margin_top{
    margin-top: 1em;
}

.margin_right{
    margin-right: 1em;
}

.margin_bottom{
    margin-bottom: 1em;
}

.margin_left{
    margin-left: 1em;
}

.large_margin_all{
    margin: 2em;
}

.large_margin_top{
    margin-top: 2em;
}

.large_margin_right{
    margin-right: 2em;
}

.large_margin_bottom{
    margin-bottom: 2em;
}

.large_margin_left{
    margin-left: 2em;
}

.no_padding{
    padding: 0 !important;
}

.no_padding_top{
    padding-top: 0 !important;
}

.no_padding_right{
    padding-right: 0 !important;
}

.no_padding_bottom{
    padding-bottom: 0 !important;
}

.no_padding_left{
    padding-left: 0 !important;
}

.well{
    transition: background-color 0.25s, box-shadow 0.25s;
    -webkit-transition: background-color 0.25s, box-shadow 0.25s;
    -moz-transition: background-color 0.25s, box-shadow 0.25s;
}

.well.selected{
    background-color: #fff;
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

.hidden_field{
    position: absolute;
    visibility: hidden;
}

.toggle_holder{
    display: block;
    height: 1.75em;
    width: 3em;
    @include border-radius(2em);
    border: 2px solid #b7b7b7;
    position: relative;
    overflow: hidden;
    box-sizing: content-box;

    .toggle_slider{
        width: 141.667%;
        height: 100%;
        position: absolute;
        top: 0px;
        left: -41.667%;
        transition: left 0.2s;

        span{
            display: inline-block;
            width: 50%;
            height: 100%;
            line-height: 100%;
            margin: 0px;
            position: relative;
            z-index: 0;
            text-align: right;
            background-color: $background_medium;
            vertical-align: top;
        }

        span:first-child{
            background-color: $green;
            text-align: left;
        }

        span.toggle_circle{
            width: 1.75em;
            height: 1.75em;
            @include border-radius(50%);
            position: absolute;
            z-index: 50;
            left: 50%;
            margin-left: -0.875em;
            background-color: #fff;
            @include box-shadow(0, 0, 5px, rgba(0, 0, 0, 0.24));
        }
    }
}

.toggle_holder.on{
    border-color: $green;

    .toggle_slider{
        left: 0%;
        right: auto;
    }
}

.loading:before{
    content:"";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 500;
    background-color: $shader_white;
}

.loading:after{
  content:"";
  display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -50px 0 0 -50px;
	height: 100px;
	width: 100px;
	text-indent: 250px;
	white-space: nowrap;
	overflow: hidden;
	-webkit-mask-image: url('../images/web/spinner.png');
	background-color: $green;
	animation-name: spinnerRotate;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;

	-moz-animation-name: spinnerRotate;
	-moz-animation-duration: 2s;
	-moz-animation-iteration-count: infinite;
	-moz-animation-timing-function: linear;

	-webkit-animation-name: spinnerRotate;
	-webkit-animation-duration: 2s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
	z-index: 501;
}

form.image_form{
    height: 0;
    overflow: hidden;

    input[type="file"]{
        visibility: hidden;
    }
}

.editable_region{
  .static_display{
    overflow: hidden;
  }

  .edit_display{
    display: none;
  }

  .progress{
    margin-top: 12px;
    margin-bottom: 12px;
  }

}

.editable_region.editing{
  .static_display{
    display: none;
  }

  .edit_display{
    display: block;
    overflow: hidden;
  }
}